{% extends 'base.html' %}

{% block header %}
{% if profileName %}
<h1>Hello {{ profileName }}!</h1>
{% else %}
<h1>Hello!</h1>
{% endif %}
<h1>{% block title %}Product List{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <input type="text" id="query" name="query" placeholder="Search for products..">
    <input type="submit" value="Search">
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}