{% extends 'base.html' %}

{% block header %}
<div style="display: flex;">
    <img src="{{ profile_picture }}" height="100" width="100" Profile Picture" style="margin: 0;border-radius: 50%;">
    {% if profileName %}
        <h1 style="margin-right: 10px; align-self: center;">Hello {{ profileName }}!</h1>
    {% else %}
        <h1>Hello!</h1>
    {% endif %}
</div>
<h1>{% block title %}Product List{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <input type="text" id="query" name="query" placeholder="Search for products..">
    <input type="submit" value="Search">
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}